[Unit]
Description=Cozy PoS API
Requires=network.target
After=network.target

[Service]
WorkingDirectory=/home/valianmasdani/cozyapi-backend
ExecStart=/home/valianmasdani/.deno/bin/deno run --allow-net --allow-read --allow-env --unstable -c tsconfig.json main.ts

[Install]
WantedBy=multi-user.target
