[Unit]
Description=Cozypos API service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/valianmasdani/cozypos-backend/run.sh
WorkingDirectory=/home/valianmasdani/cozypos-backend

[Install]
WantedBy=multi-user.target
